node_modules
.wwebjs_auth
.env
.log/
output
downloads
src/database/data.sqlite
src/database/config.json
yarn-error.log
start.sh
.nyc_output
coverage
mochawesome-report
server/public/imgs/qrcode
reporter