name: Docker Image CI

# push tag 时触发执行
on:
  push:
    tags:
      - v*

env:
  APP_NAME: im-aggregation
  DOCKERHUB_REPO: tanknee/im-aggregation

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo branch
      uses: actions/checkout@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
      # GitHub Repo => Settings => Secrets 增加 docker hub 登录密钥信息
      # DOCKERHUB_USERNAME 是 docker hub 账号名.
      # DOCKERHUB_TOKEN: docker hub => Account Setting => Security 创建.
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    # 通过 git 命令获取当前 tag 信息, 存入环境变量 APP_VERSION
    - name: Generate App Version
      run: echo APP_VERSION=`git describe --tags --always` >> $GITHUB_ENV
    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        # 是否 docker push
        push: true
        # 生成多平台镜像, see https://github.com/docker-library/bashbrew/blob/v0.1.1/architecture/oci-platform.go
        platforms: |
          linux/amd64
        # docker build arg, 注入 APP_NAME/APP_VERSION
        build-args: |
          APP_NAME=${{ env.APP_NAME }}
          APP_VERSION=${{ env.APP_VERSION }}
        # 生成两个 docker tag: ${APP_VERSION} 和 latest
        tags: |
          ${{ env.DOCKERHUB_REPO }}:latest
          ${{ env.DOCKERHUB_REPO }}:${{ env.APP_VERSION }}
